<div class="about">
  <div class="background-about">
    <div class="left-division">
      <h3 style="font:italic bold 70px Georgia, serif; color: white"> - About me - </h3>
      <h3 style="font family:verdana; color: white; opacity: 0.9;text-align:center;opacity:0.8"> Some information about me </h3>
    </div>
  </div>

  <section class="features">
    <div class="feature text-center">
    </div>
    <div class="feature text-center">
    </div>
    <div class="feature text-center">
    </div>
    <div class="feature text-center">
    </div>
  </section>

</div>
